# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.log
*.egg-info/
.installed.cfg
*.egg
.idea
*.iml
.vscode
*.swp
*.swo
.DS_STORE
node_modules
scripts/flow/*/.flowconfig
.flowconfig
build/
dist/
build2/

# vs-code shit
*.code-workspace

# my shit
static
media/
# Ignore dynaconf secret files
.secrets.*
# Ignore cfg files

settings.json
# currencies.json
*.txt

*.session
*.session-journal

.env/
# webhook
*.pem

Bot/utils/render/editable/blessprofit.jpg
Bot/utils/render/editable/hideprofit.jpg

# dont ignore media
!media
# ignore all inside media
media/*